.jumbotron {
    background-color: #fff;
    padding: 5rem;
    text-align: center;
    width: 100%;
}

.jumbotron-title {
    font-size: 4rem;
    color: #000;
    font-weight: 600;
    color: #007bff;
}

.jumbotron-subtitle {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.jumbotron-button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
}
